# Mac
.DS_Store

__pycache__
*.py[cod]
*$py.class

*.so

.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
*.egg
MANIFEST
node_modules

env
env3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.python-version

.*project
*.swp
*.swo
*.idea
*.vscode
*.iml



